body {
    background-color: rebeccapurple;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

ol, ul, li {
    color: white;
}

th, td, table {
    border: 1px solid white;
    padding: 10px;
    color: white;
}

/* unvisited link */
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: yellowgreen;
}

/* mouse over link */
a:hover {
  color: rgb(0, 225, 255);
}

/* selected link */
a:active {
  color: rgb(0, 255, 136);
}